@font-face{
	font-family: Arvo;
	src: url(fonts/arvo-bold.ttf);
}
body{
	background-color:#ffffcc;
}
form{
	text-align:center;
}
h1,h2{
	font-family:Arvo;
	text-align:center;
	color:#3d85c6;
}
.Box{
	border-radius:5px;
	width:50%;
	height:40px;
	color:#3d85c6;
	font-family: Arvo;
	font-size:20px;
	margin-top:40px;
	text-align:center;
}
.button{
	border-radius:5px;
	color:#fefefe;
	font-family:Arvo;
	font-size:20px;
	text-align:center;
	padding:8px 20px;
	background:#3d85c6;
	margin-top:40px;
}
output{
	width:50%;
	font-family:Arvo;
	font-size:40px;
	text-align:center;
	color:#3d85c6;
}
sub{
	font-family:Arvo;
	text-align:center;
	color:#3d85c6;
	font-size:30px;
}